<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plugins Demo</title>

  <% if (plugins.googleAnalytics?.installed) { %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= plugins.googleAnalytics?.key %>"></script>
    <script>
      let plugins = <%- JSON.stringify(plugins)%>;
      let user = <%- JSON.stringify(user)%>;
      let serverUrl = <%- JSON.stringify(serverUrl)%>;
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', plugins.googleAnalytics?.key);
    </script>
  <% } %>
  
</head>
<body>
 
  template body content

  <a href="https://google.com/">go</a>

  <% for( let plugin of Object.keys(plugins) ) { %>
    <h3><%= plugin %></h3>
    <% if (plugins[plugin].installed === true) { %>
      <button role="button"  
        onClick="{
          fetch(`<%= serverUrl %>/api/<%= user %>/uninstall?plugin=<%= plugin %>`, {
            method: 'POST',
          })
          .then(() => window.location.reload())
          .catch(err => console.log(err))
        }">
        Uninstall
      </button>
    <% } else {%>
      <button role="button" 
      onClick="{
          fetch(`<%= serverUrl %>/api/<%= user %>/install?plugin=<%= plugin %>`, {
            method: 'POST',
          })
          .then(() => window.location.reload())
          .catch(err => console.log(err))
        }">
         Install
      </button>
    <%} %>
    <hr/>
  <% } %>


  <% if (plugins.googleAnalytics?.installed && plugins.googleAnalytics?.key) { %>
    <button onclick="{
      window.dataLayer = window.dataLayer || [];
      let  gtag = () => { dataLayer.push(arguments); }
      gtag('event', 'button_click', {
          'event_category': 'Engagement',
          'event_label': 'Button Clicked',
        })}">Google analytics test</button>
  <%}%>
  
</body>
</html>